body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f; /* Change background color to match home page */
    color: wheat; /* Change text color to white */
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 0 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  .skill {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .skill img {
    width: 50px; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px;
  }
  
  .skill-info {
    flex-grow: 1;
  }
  
  .progress-bar {
    background-color: #ddd;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .progress {
    background-color: #007bff;
    height: 100%;
    text-align: center;
    line-height: 20px;
    color: #fff;
  }
  .button {
    background-color: #007bff; /* Blue background color */
    color: #ffffff; /* White text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Add pointer cursor on hover */
    border-radius: 5px; /* Add border radius */
  }
  
  .button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }
  